.init-button {
  background: linear-gradient(5deg, rgba(84,233,140,1) 0%, rgba(39,213,141,1) 100%);
  border:black solid 1px;
  border-radius: 13px;
  border-style: none;
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.46);
  color: white;
  cursor: pointer;
  font-size: 1.3em;
  height: 5%;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.46); 
  width: 20%;
}